body {
  margin: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  cursor: none;
  touch-action: none;
}

#container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
}

canvas {
  display: block;
  margin: auto;
}

#debug {
  margin-top: 20px;
  width: 80%;
  text-align: center;
  color: white;
  text-align: left;
  font-family: monospace;
  font-size: 20px;
}